<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.customviewsample">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyAppclication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".skin.Main17Activity"
            android:configChanges="uiMode"> <!-- 需要配置此属性=uiMode，才能更换navigation  -->
             </activity>
        <activity android:name=".set_factory.Main16Activity" />
        <activity android:name=".turn_gray.Main15Activity" />
        <activity android:name=".XiaohongshuSplash.Main14Activity" />
        <activity android:name=".animation_sample.MainActivity13" />
        <activity android:name=".animator.MainActivity12" />
        <activity android:name=".car_view.Main11Activity" />
        <activity android:name=".CustomRecyclerView.Main10Activity" />
        <activity android:name=".asnync_task_view.Main9Activity" />
        <activity android:name=".image_loader.Main8Activity" />
        <activity android:name=".big_image.Main7Activity" />
        <activity android:name=".animation_demo.Main6Activity" />
        <activity android:name=".view5.Main5Activity" />
        <activity android:name=".simple_custom_layout.CustomLinearLayoutViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view1.Main1Activity" />
        <activity android:name=".slidetab.SlideTabActivity" />
        <activity android:name=".pager.Activity3" />
        <activity android:name=".grid.PagerActivity" />
    </application>

</manifest>